# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Extra
*.suo
*.aps
*.ncb
*.sdf
*.dsp
*.dsw
*.user

Debug/*
Release/*
hooks/Debug/*
hooks/Release/*
hooks/TaskExHook/Debug/*
hooks/TaskExHook/Release/*
